<table class="table table-bordered">
  <tr>
    <td>
      <u><b>{{$ctrl.currentBuilding.name}}</b></u>
    </td>
  </tr>
  <tr>
    <td><u>Item Name</u></td>
    <td><u>Description</u></td>
    <td><u>Stock</u></td>
    <td><u>Prod Cost (Res)</u></td>
    <td><u>Prod Time</u></td>
    <td><u>Sell Price (Gold)</u></td>
    <td><u>Produce</u></td>
  </tr>
  <tr>
    <td><img ng-src="{{$crtl.potion.image}}" />{{$ctrl.potion.name}}</td>
    <td>{{$ctrl.potion.description}}</td>
    <td>{{$ctrl.potion.count}}/{{$ctrl.potion.maxCount}}</td>
    <td>{{$ctrl.potion.cost}}</td>
    <td>{{$ctrl.potion.prodTime}}</td>
    <td>{{$ctrl.potion.sellPrice}}</td>
    <td>
      <button ng-click="$ctrl.create(-1)" id="potionButt">
        {{$ctrl.potion.progress}}
      </button>
    </td>
  </tr>
  <tr ng-repeat="acc in filteredAcc = ($ctrl.potions | filter:{enabled:true})">
    <td><img ng-src="images/{{acc.image}}" />{{acc.name}}</td>
    <td>{{acc.description}}</td>
    <td>{{acc.count}}/{{acc.maxCount}}</td>
    <td>{{acc.cost}}</td>
    <td>{{acc.prodTime}}</td>
    <td>{{acc.sellPrice}}</td>
    <td>
      <button id="p{{acc.id}}" ng-click="$ctrl.create(acc.id)">
        {{acc.progress}}
      </button>
    </td>
  </tr>
</table>