<div class="footer navbar-fixed-bottom">
    <div class="container" id="support">
        <a href="" ng-click="$parent.showVersion()">Version {{$parent.version}}</a>
        Meredori &copy; 2021
        <a id="paypal" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KWC55P8UFP3AN"
            target="_blank">
            <img src="../../images/paypal.png" style="width:35px" />
        </a>
        <a id="reddit" href="http://www.reddit.com/r/heroville/" target="_blank">
            <img src="../../images/reddit.png" style="width:35px" />
        </a>
        <a id="patreon" href="http://www.patreon.com/meredori" target="_blank">
            <img src="../../images/patreon.png" style="width:35px" />
        </a>
    </div>
</div>
<div id="version" title="Version Information">Current Version: 1.4 - 16 September 2021<br />
    <div id="confirm" title="Confirmation Required">
        This change is permenant, are you sure this is what you want to do?
    </div>
    <ul>
        <li>Massive code refactor to help with future updates</li>
        <li>Temporarily removed dark theme</li>
    </ul>
</div>