<div id="dialog" title="New Hero"><div id="error"></div>Enter a name for the hero. <input type="text" name="name" id="name"/></div>
<div id="dialog2" title="New Worker"><div id="error"></div>Enter a name for the worker. <input type="text" name="name2" id="name2"/></div>
<div id="version" title="Version Information">Current Version: 1.3.2 - 2 Oct 2017 <br />
    <div id="confirm" title="Confirmation Required">
        This change is permenant, are you sure this is what you want to do?
    </div>
    <ul>
        <li>Fix issue with new potions not giving gold</li>
        <li>Added Dark Theme</li>
    </ul>
</div>
<div id="loading" title="Old Version">You are loading from an old version, there may be errors. If the game does not load correctly try starting a new game by refreshing the page and canceling this dialog. Do you want to load the old save?</div>
