<section id="container">
    <div class="col-lg-7">
        <div class="btn-group" uib-dropdown is-open="status.isopen" id="heroFilter">
            <button type="button" class="dropdown-toggle" id="sortButton">
                Sort <span class="caret down"></span>
            </button>
            <ul class="uib-dropdown-menu" role="menu">
                <li><a href="" ng-click="state.sorting.heroTable = 'name'; reverse=!reverse"><u>Name</u></a></li>
                <li><a href="" ng-click="state.sorting.heroTable = ['level','experience']; reverse=!reverse"><u>Level</u></a></li>
                <li><a href="" ng-click="state.sorting.heroTable = 'equip.gold'; reverse=!reverse"><u>Gold</u></a></li>
                <li><a href="" ng-click="state.sorting.heroTable = 'equip.scrap'; reverse=!reverse"><u>Resources</u></a></li>
                <li><a href="" ng-click="state.sorting.heroTable = 'equip.weapon.id'; reverse=!reverse"><u>Weapon</u></a></li>
                <li><a href="" ng-click="state.sorting.heroTable = 'equip.accessory.length'; reverse=!reverse"><u>Accessory</u></a></li>
                <li><a href="" ng-click="state.sorting.heroTable = 'currHealth'; reverse=!reverse"><u>Health</u></a></li>
                <li><a href="" ng-click="state.sorting.heroTable = 'experience'; reverse=!reverse"><u>Experience</u></a></li>
                <li><a href="" ng-click="state.sorting.heroTable = 'dungeon'; reverse=!reverse"><u>Location</u></a></li>
            </ul>
        </div>
        <input ng-model="state.hFilterString.name">
        <ul id="heroList" ng-repeat="hero in filteredheroList = (state.heroList | heroAdventure | orderBy:state.sorting.heroTable:reverse | filter:state.hFilterString)" ng-hide="state.showHeroTable.enabled">
            <li>
                <table class="table table-bordered" id="heroTable">
                    <tr>
                        <td>
                            Lvl. {{hero.level}} {{hero.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Class: {{hero.academy.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HP: <uib-progressbar value="hero.currHealth/hero.health*100" type="danger" style="width:220px;"><i>{{hero.currHealth | number}}/{{hero.health | number}}</i></uib-progressbar>
                            XP: <uib-progressbar value="hero.experience/hero.next*100" type="warning" style="width:220px;"><i>{{hero.experience | number}}/{{hero.next | number}}</i></uib-progressbar>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table id="lootTable">
                                <tr>
                                    <td>
                                        Loot:
                                    </td>
                                    <td>
                                        Equip:
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50%;">
                                        {{hero.equip.gold}} <img src="images/I_GoldBar.png" />
                                    </td>
                                    <td>
                                        <a href="" uib-popover-template="'partials/showEquip.html'" uib-popover-placement="right" uib-popover-trigger="mouseenter"><img ng-src="images/{{hero.equip.weapon.image}}" /> ({{hero.equip.weapon.minDamage}}-{{hero.equip.weapon.maxDamage}}) Durability: {{hero.equip.weapon.durability}}</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Location: {{hero.location}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" uib-popover-template="'partials/showBattle.html'" uib-popover-placement="right" uib-popover-trigger="mouseenter"><div ng-model="progress">{{hero.progress}}</div></a>
                        </td>
                    </tr>
                </table>
            </li>
        </ul>
        <table id="oldheroTable" class="table table-bordered" ng-show="state.showHeroTable.enabled">
            <tr>
                <td><u><b>Heroes</b></u></td>
            </tr>
            <tr>
                <td><u>Name</u></td>
                <td><u>Level</u></td>
                <td><u>Loot</u></td>
                <td><u>Damage</u></td>
                <td><u>Health</u></td>
                <td><u>Experience</u></td>
                <td><u>Location</u></td>
                <td><u>Progress</u></td>
            </tr>
            <tr ng-repeat="hero in filteredheroList = (state.heroList | orderBy:state.sorting.heroTable:reverse | filter:state.hFilterString | filter:!state.party)">
                <td>
                    {{hero.name}}
                </td>
                <td>
                    {{hero.level}}
                </td>
                <td>
                    {{hero.equip.scrap}} <img src="images/I_Chest01.png" /> {{hero.equip.gold}} <img src="images/I_GoldBar.png" />
                </td>
                <td>
                    <a href="" uib-popover-template="'partials/showEquip.html'" uib-popover-placement="right" uib-popover-trigger="mouseenter">DMG: ({{hero.equip.weapon.minDamage}}-{{hero.equip.weapon.maxDamage}}) DUR: {{hero.equip.weapon.durability}}</a>
                </td>
                <td>
                    {{hero.currHealth | number}}/{{hero.health | number}}
                </td>
                <td>
                    {{hero.experience | number}}/{{hero.next}}
                </td>
                <td>
                    {{hero.location}}
                </td>
                <td>
                    <a href="" uib-popover-template="'partials/showBattle.html'" uib-popover-placement="right" uib-popover-trigger="mouseenter">{{hero.progress}}</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-lg-5">
        <table class="table table-bordered" ng-hide="!filteredWorkheroList.length">
            <tr>
                <td><u><b>Workers</b></u></td>
            </tr>
            <tr>
                <td><u>Name</u></td>
                <td><u>Level</u></td>
                <td><u>Location</u></td>
                <td><u>Progress</u></td>
                <td><u>Job</u></td>
            </tr>
            <tr ng-repeat="heroWork in filteredWorkheroList = (state.heroList | heroWorker | orderBy:state.sorting.heroWork:reverse)">
                <td>{{heroWork.name}}</td>
                <td>{{heroWork.level}} ({{heroWork.experience}}/{{heroWork.next}})</td>
                <td>{{heroWork.location}} - {{heroWork.job.name}}</td>
                <td>{{heroWork.progress}}</td>
                <td><select class="span17" ng-init="selectedJob = state.jobs[1]" ng-model='selectedJob' ng-options="job.name for job in state.jobs | filter:{enabled:true}"></select></td>
                <td>
                    <button ng-click="heroProfession(selectedJob.id, heroWork.id)">Change</button>
                </td>
            </tr>
        </table>
    </div>
</section>
