<section id="containter">
    <div class="col-lg-6">
        <table class="table table-bordered">
            <tr>
                <td><u><b>{{state.buildings[1].name}}</b></u></td>
            </tr>
            <tr>
                <td><u>Item Name</u></td>
                <td><u>Description</u></td>
                <td><u>Stock</u></td>
                <td><u>Prod Cost (Res)</u></td>
                <td><u>Prod Time</u></td>
                <td><u>Sell Price (Gold)</u></td>
                <td><u>Produce</u></td>
            </tr>
            <tr>
                <td><img src="images/P_Red04.png" />{{state.potion.name}}</td>
                <td>{{state.potion.description}}</td>
                <td>{{state.potion.count}}/{{state.potion.maxCount}}</td>
                <td>{{state.potion.cost}}</td>
                <td>{{state.potion.prodTime}}</td>
                <td>{{state.potion.sellPrice}}</td>
                <td><button ng-click="create(-1)" id="potionButt">{{state.potion.progress}}</button></td>
            </tr>
            <tr ng-repeat="acc in filteredAcc = (state.potions | filter:{enabled:true})">
                <td><img ng-src="images/{{acc.image}}" />{{acc.name}}</td>
                <td>{{acc.description}}</td>
                <td>{{acc.count}}/{{acc.maxCount}}</td>
                <td>{{acc.cost}}</td>
                <td>{{acc.prodTime}}</td>
                <td>{{acc.sellPrice}}</td>
                <td><button id="p{{acc.id}}" ng-click="create(acc.id)">{{acc.progress}}</button></td>
            </tr>
        </table>
        <table class="table table-bordered" ng-hide="!filteredWeapons.length">
            <tr>
                <td><b><u>{{state.buildings[3].name}}</u></b></td>
            </tr>
            <tr>
                <td><u>Name</u></td>
                <td><u>Damage</u></td>
                <td><u>Requirement</u></td>
                <td><u>Durability</u></td>
                <td><u>Stock</u></td>
                <td><u>Prod Cost (Res)</u></td>
                <td><u>Prod Time</u></td>
                <td><u>Sell Price (Gold)</u></td>
                <td><u>Produce</u></td>
            </tr>
            <tr ng-repeat="weapon in filteredWeapons = (state.weapons | filter:{enabled:true})">
                <td><img ng-src="images/{{weapon.image}}" />{{weapon.name}}</td>
                <td>{{weapon.minDamage}}-{{weapon.maxDamage}}</td>
                <td><span ng-repeat-start="wepclass in weapon.heroClass" ng-if="!$last">{{state.heroClass[wepclass].name}}, </span><span ng-repeat-end ng-if="$last">{{state.heroClass[wepclass].name}}</span></td>
                <td>{{weapon.durability}}</td>
                <td>{{weapon.count}}/{{weapon.maxCount}}</td>
                <td>{{weapon.cost}}</td>
                <td>{{weapon.prodTime}}</td>
                <td>{{weapon.sellPrice | number}}</td>
                <td><button id="w{{weapon.id}}" ng-click="purchaseWeapon(weapon.id)">{{weapon.progress}}</button></td>
            </tr>
        </table>
    </div>
    <div class="col-lg-6">
        <table class="table table-bordered" ng-hide="!filteredBlueprint.length">
            <tr>
                <td><b><u>{{state.buildings[2].name}}</u></b></td>
            </tr>
            <tr>
                <td><u>Name</u></td>
                <td><u>Cost (gold)</u></td>
            </tr>
            <tr ng-repeat="blueprint in filteredBlueprint = (state.blueprints | filter:{enabled:true})">
                <td ng-attr-title="{{blueprint.description}}">{{blueprint.name}}</td>
                <td>{{blueprint.cost | number}}</td>
                <td><button ng-click="incrBlueprint(blueprint)" ng-attr-title="{{blueprint.description}}">Buy {{blueprint.name}}</button></td>
            </tr>
        </table>
    </div>
</section>
