<section id="container">
    <div class="col-lg-6">
        <table class="table table-bordered" ng-hide="!filteredJobs.length">
            <tr>
                <td><u><b>Jobs</b></u></td>
            </tr>
            <tr>
                <td><u>Name</u></td>
                <td><u>Description</u></td>
            </tr>
            <tr ng-repeat="job in filteredJobs = (jobs | filter:{enabled:true})">
                <td>{{job.name}}</td>
                <td>{{job.description}}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-6">
    </div>
</section>
