<section id="container">
    <div class="col-lg-6">
        <table class="table table-bordered">
            <tr>
                <td><b><u>Buildings</u></b></td>
            </tr>
            <tr>
                <th><u>Name</u></th>
                <th><u>Level</u></th>
                <th><u>Cost</u></th>
            </tr>
            <tr ng-repeat="building in state.buildings" ng-show="building.enabled == true">
                <td ng-attr-title="{{building.description}}">{{building.name}}</td>
                <td>{{building.count | number}}</td>
                <td>{{building.cost | number}}</td>
                <td><button ng-click="incrBuilding(building)" ng-attr-title="{{building.description}}">Improve {{building.name}}</button></td>
            </tr>
        </table>
    </div>
    <div class="col-lg-6">
        <table class="table table-bordered" ng-hide="!filteredDungeons.length">
            <tr>
                <td><u><b>Dungeons</b></u></td>
            </tr>
            <tr>
                <td><u>Name</u></td>
                <td><u>Level</u></td>
                <td><u>Boss</u></td>
                <td><u>Length</u></td>
                <td><u>Encounter Rate</u></td>
            </tr>
            <tr ng-repeat="dungeon in filteredDungeons = (state.dungeons | filter:{enabled:true})">
                <td>{{dungeon.name}}</td>
                <td>{{dungeon.level}}</td>
                <td>{{state.bosses[dungeon.bossID].name}}</td>
                <td>{{dungeon.steps}}</td>
                <td>{{dungeon.encounterRate}}%</td>
            </tr>
        </table>
    </div>
</section>
